.offerfilms {
    gap: 2rem;
    width: 21rem;
    height: 100%;
    position: relative;
}

.offerfilms__item {
    width: 20.5rem;
    overflow: hidden;
}

.offerfilms__img {
    height: auto;
    backface-visibility: hidden;
}

.offerfilms__play {
    color: var(--theme-color);
    position: absolute;
    top: 10rem;
    left: 6.5rem;
    visibility: hidden;
    opacity: 0;
    transition: all 150ms;
}

.offerfilms:hover .offerfilms__play {
    visibility: visible;
    opacity: 1;
}

.offerfilms:hover .offerfilms__img {
    transform: scale(1.2);
    filter: blur(1px);
    transition: all 150ms ease-out;
}

.film-caption__genre {
    color: var(--theme-color);
}

.film-caption__time {
    color: var(--body-text-color);
}

.offerfilms__bottom__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.offerfilms__lmdb {
    position: absolute;
    background: var(--theme2-color);
    width: 5rem;
    height: 2rem;
    left: 1rem;
    top: 1rem;
}