.newfilms {
    gap: 2rem;
    width: 21rem;
    height: 100%;
    /* flex-grow: 1; */
    position: relative;
}

.newfilms__item {
    overflow: hidden;
}

.newfilms__img {
    height: auto;
}

.newfilms__play {
    color: var(--theme-color);
    position: absolute;
    top: 10rem;
    left: 6.5rem;
    visibility: hidden;
    opacity: 0;
    transition: all 150ms;
}

.newfilms:hover .newfilms__play {
    visibility: visible;
    opacity: 1;
}

.newfilms:hover .newfilms__img {
    transform: scale(1.2);
    filter: blur(1px);
    transition: all 150ms ease-out;
}

.film-caption__genre {
    color: var(--theme-color);
}

.film-caption__time {
    color: var(--body-text-color);
}

.newfilms__bottom__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.newfilms__lmdb {
    position: absolute;
    background: var(--theme2-color);
    width: 5rem;
    height: 2rem;
    left: 1rem;
    top: 1rem;
}

@media screen and (max-width: 480px) {
    .newfilms{
        flex-grow: 1;
    }
}


@media screen and (max-width: 769px) {
    .newfilms{
        width: 14rem;
    }
    .newfilms__play{
        display: none;
    }
}
