.copyright{
    background: #131722;
    padding: .8rem 0;
}

.copyright__item{
    color: var(--theme-color);
    width: 4rem;
    height: 4rem;
    background: var(--body-bg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright__list{
    margin: 0;
}

@media screen and (max-width: 530px) {
    .copyright__list {
        margin-top: 1rem;
    }
}
