.offcanvas.offcanvas-start{
    background: #313541;
}

.accordion-button{
    background: var(--body-bg) !important;
    color: var(--white) !important;
}

.accordion-body{
    background: #131722;
}

.btn-close{
    color: var(--white) !important;
}

.navmob-sub__link{
    color: var(--white) !important;
}